body {
	margin: 0px;
	padding: 0px;
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

.header {
	width: 100%;
	display: inline-block;
	position: fixed;
	z-index: 990;
	background: #fff;
	box-shadow: 0px 0px 25px #aba3a391;
}

.\.container-fluid {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 25px;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 15%;
}

.navbar {
	width: 50%;
	align-content: center;
}

.number {
	width: 15%;
	margin: 10px 30px;
	display: flex;
	justify-content: end;
}

.social-Icon {
	width: 15%;
	align-content: center;
}

.search-btn {
	width: 5%;
	align-content: center;
}

.navbar ul {
	width: 100%;
	display: flex;
	justify-content: start;
}

.navbar ul li {
	color: #040e27;
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 400;
	margin-right: 32px;
}

.navbar ul li a {
	color: #040e27;
	transition: all 0.3s ease;
}

.navbar ul li a:hover {
	color: #17a2b8;
}

.number svg {
	color: #dc3545;
	margin: 3px 10px 0px 0px;
}

.number h3 {
	font-size: 17px;
	color: #040E27;
	margin-bottom: 0;
	font-weight: 400;
}

.social-Icon svg {
	display: inline-block;
	color: #AAB1B7;
	font-size: 17px;
	margin: 0 11px;
	transition: all 0.3s ease;
}

.social-Icon svg:hover {
	color: #dc3545;
}

.search-btn svg {
	background: #dc3545;
	padding: 13px;
	color: #fff;
}

.travel-area {
	width: 100%;
	display: inline-block;
	padding: 40px 0;
	margin-top: 70px;
}

.area p {
	font-size: 24px;
	font-weight: 400;
	color: #040E27;
	margin-bottom: 10px;
	margin-top: 41px;
}

.area h2 {
	font-size: 18px;
	font-weight: 400;
	color: #6E6E6E;
}

.container {
	width: 100%;
	max-width: 1050px;
	margin: 0 auto;
	padding: 25px;
}

.area {
	width: 33.3%;
	text-align: center;
}

.title h1 {
	font-size: 38px;
	font-weight: 400;
	color: #040E27;
	text-align: center;
	margin-bottom: 35px;
}

.trips-col p {
	font-size: 15px;
	font-weight: 400;
	color: #7A838B;
}

.trips-col h2 {
	color: #040E27;
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
}

.trips-col {
	width: 33.3%;
	transition: all 0.3s ease;
	padding: 12px;
}

.trips-col:hover h2 {
	color: #ff4a52;
}

.trips {
	width: 100%;
	display: inline-block;
	padding: 70px 0;
}

.trips-col img {
	max-width: 100%;
	border-radius: 15px;
}

.Destination {
	width: 100%;
	display: inline-block;
	padding: 80px 0;
}

.Des-title {
	width: 100%;
	margin: 40px auto;
}

.Des-title h3 {
	font-size: 40px;
	font-weight: 400;
	color: #040E27;
	padding-bottom: 15px;
	text-align: center;
}

.Des-title p {
	font-size: 18px;
	color: #7A838B;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
}

.single-destination img {
	max-width: 100%;
	border-radius: 15px;
	filter: brightness(70%);
}

.Des-flex {
	width: 52%;
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	position: absolute;
	bottom: 20px;
}

.Des-flex p {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	transition: all 0.3s ease;
}

.Des-flex h2 {
	display: inline-block;
	background: #1EC6B6;
	font-size: 14px;
	border-radius: 30px;
	font-weight: 400;
	padding: 0px 15px;
	height: 27px;
	line-height: 25px;
	color: #fff;
	transition: all 0.3s ease;
}

.single-destination {
	width: 100%;
	margin: 13px;
	position: relative;
	transition: all 0.3s ease;
}

.single-destination:hover p {
	color: #dc3545;
}

.single-destination:hover h2 {
	background: #dc3545;
}

.single-destination:hover {
	transform: translateY(-10px);
}

.single-place img {
	max-width: 100%;
}

.single-place {
	width: 33.3%;
	margin: 10px;
	border-radius: 15px;
	position: relative;
	transition: all 0.3s ease;
}

.places {
	width: 100%;
	display: inline-block;
	padding: 80px 0;
}

.place-info {
	padding: 27px 20px 25px 20px;
}

.place-info h3 {
	font-size: 24px;
	font-weight: 400;
	color: #040E27;
	margin-bottom: 3px;
	transition: all 0.3s ease;
}

.place-info p {
	font-weight: 400;
	color: #7A838B;
	margin-top: 2px;
	margin-bottom: 7px;
	font-size: 16px;
}

.rating {
	color: #1F1F1F;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 600;
}

.days {
	color: #1F1F1F;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 600;
}

.rating-days {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cost a {
	display: inline-block;
	background: #1EC6B6;
	font-size: 17px;
	border-radius: 30px;
	font-weight: 400;
	padding: 0px 17px;
	height: 28px;
	line-height: 25px;
	color: #fff;
	transition: all 0.3s ease;
}

.cost {
	width: 100%;
	position: absolute;
	top: 20px;
	left: 15px;
	transition: all 0.3s ease;
}

.single-place:hover {
	box-shadow: 0px 9px 20px #bdb3b3;
}

.single-place:hover .cost a {
	background: #dc3545;
}

.single-place:hover .place-info h3 {
	color: #dc3545;
}

.video-area {
	background-image: url(/public/video.png);
	width: 100%;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	padding: 185px 0;
	filter: brightness(85%);
}

.enjoy-row {
	width: 100%;
	text-align: center;
}

.enjoy-row p {
	font-family: "Nothing You Could Do", cursive;
	font-weight: 400;
	font-size: 80px;
	line-height: 90px;
	color: #fff;
	margin-bottom: 55px;
}

.enjoy-row svg {
	font-size: 32px;
	background: #1ec6b6;
	color: #fff;
	padding: 20px;
	border-radius: 50%;
	animation-name: pluse;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

@keyframes pluse {
      0% {
    box-shadow: 0 0 10px #1ec6b6, 0 0 20px #1ec6b6, 0 0 40px #1ec6b6;
    border-color: #1ec6b6;
  }
  50% {
    box-shadow: 0 0 30px #1ec6b6, 0 0 50px #1ec6b6, 0 0 60px #1ec6b6;
    border-color: #1ec6b6;
  }
  100% {
    box-shadow: 0 0 10px #1ec6b6, 0 0 20px #1ec6b6, 0 0 40px #1ec6b6;
    border-color: #1ec6b6;
  }
}


.newsletter {
	background-image: url(/public/newsletter.png);
	width: 100%;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	padding: 35px 0;
}


.cols {
	width: 35%;
}

.cols-2 {
	width: 65%;
}

.cols h4 {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 11px;
}

.cols p {
	color:#44484C;
	font-size: 17px;
	line-height: 28px;
}

.newsletter-box input {
	padding: 15px 15px;
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 8px;
	width: 70%;
	margin-right: 15px;
}

.newsletter-box button {
	padding: 15px 25px;
	background: #ff4d4d;
	color: white;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.newsletter-box button:hover{
	background: #20c997;
}

.newsletter-box {
	width: 100%;
	padding: 28px 15px;
}

.Search-box {
	background: #040E27;
	padding: 50px 0;
}

.rom-iteam {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.rom-iteam h2 {
	font-size: 26px;
	color: #fff;
	font-weight: 400;
}

.rom-iteam input,
.rom-iteam select {
	padding: 13px 32px;
	border-radius: 6px;
	border: 1px solid #2d3a4b;
	background: transparent;
	color: white;
	font-size: 15px;
	outline: none;
}

.rom-iteam button {
	background: #ff4b4b;
	color: white;
	padding: 10px 32px;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s ease;
	font-weight: bold;
}

.rom-iteam button:hover{
	background: #20c997;
}

.rom-iteam input::placeholder {
      color: #aaa;
    }

    .rom-iteam select option {
      color: black;
    }